*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(32, 32, 70);
}

fieldset {
    width: 60%;
    margin: 0px auto;
    color: white;
    background-color: rgb(32, 32, 70);
    border-radius: 50px;
    padding: 40px;
}
button{
    background-color: white;
    color: rgb(32, 32, 70);
    font-weight: bolder;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
}
.clCenter{
    text-align: center;
}



